body,html,#app {
  height: 100%;
  margin: 0;

}
.nav{
    top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
}
.el-aside{
  height:calc(100vh);
  overflow-y: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.el-container{
    margin-top: 60px;
    height: calc(100vh);
}
.el-main{
    padding: 0;
    overflow-y: scroll;
    height: calc(100vh);
}
.el-message{
  margin-top: 100px !important;
}
.login-background {
  background: linear-gradient(0, #dcf2e6 0%, #ffffff 100%);
  width: 100%;
  height: 100%; /**宽高100%是为了图片铺满屏幕 */
  z-index: -1;
  position: absolute;
}
